@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;800&family=Open+Sans:wght@300;400;500;600;700&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  color: #161821;
}
body {
  margin-left: 0;
  margin-right: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.website-name {
  font-family: "Pacifico", cursive;
  color: #005397;
  font-size: 60px;
  width: 10%;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 5px;
}
.SearchBar {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  width: 100vw;
  margin: 0;
  align-items: baseline;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.bar {
  width: 650px;
  background: white;
  box-shadow: 0 0 5px rgb(199, 199, 199);
  height: 65px;
  border-radius: 100vw;
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 10px;
}
.bar div {
  border-radius: inherit;
  padding: 10px 16px;
  transition: background 250ms ease-in-out;
}
.bar div:hover {
  background: hsl(0 0% 94%);
}
.location {
  width: 30%;
}
.chek-in,
.check-out {
  width: 20%;
}
input {
  background: none;
  border: none;
  padding: 6px 0 0 0;
  color: #6c757d;
  outline-width: 0;
}
input :focus {
  outline: none;
  border: none;
}
.guest {
  width: 40%;
  position: relative;
}
.guest button {
  position: absolute;
  top: 24%;
  right: 10px;
  background: #005397;
  color: white;
  padding: 10px 12px;
  font-size: 8px;
  border: none;
  border-radius: 50%;
}
::placeholder {
  font-size: 12px;
}
